@model Licensing.Business.ViewModels.TrustAccountVM

@{
    ViewBag.Title = "Edit Trust Account";
}

@using (Html.BeginForm("Edit", "TrustAccount", FormMethod.Post))
{
    <div class="row">
        @Html.HiddenFor(m => m.LicenseId)
        @Html.HiddenFor(m => m.TrustAccountId)
        @Html.HiddenFor(m => m.HandlesTrustAccount)
        @Html.HiddenFor(m => m.HandlesCssClass)
        @Html.HiddenFor(m => m.NotHandlesCssClass)

        @if (Model.TrustAccountNumbersToRemove != null)
        {
            for (int i = 0; i < Model.TrustAccountNumbersToRemove.Count; i++)
            {
                @Html.HiddenFor(m => m.TrustAccountNumbersToRemove[i].TrustAccountNumberId)
                @Html.HiddenFor(m => m.TrustAccountNumbersToRemove[i].Bank)
                @Html.HiddenFor(m => m.TrustAccountNumbersToRemove[i].Branch)
                @Html.HiddenFor(m => m.TrustAccountNumbersToRemove[i].AccountNumber)
            }
        }
        
        <h2>
            Trust Account (
                <a href="http://www.courts.wa.gov/court_rules/?fa=court_rules.display&group=ga&set=ELC&ruleid=gaelc1515.05" target="_blank"> ELC 15.5 </a>,
                <a href="http://www.courts.wa.gov/court_rules/?fa=court_rules.display&group=ga&set=APR&ruleid=gaapr17" target="_blank"> APR 17 </a>
            )
        </h2>

        <div class="row">
            Do you or your firm maintain either an IOLTA account or other client trust account(s) for the
            deposit of client funds received in connection with representations undertaken using your Washington State license?
        </div>

        <div class="row padded-top">
            <button class="btn @Model.HandlesCssClass" name="submit" type="submit" value="Handles">Yes</button>
            <button class="btn @Model.NotHandlesCssClass" name="submit" type="submit" value="NotHandles">No</button>
        </div>

        <hr />

        <div class="row">
            All funds and property of WA clients, if any, and all WA trust accounts and records, if any, must be maintained in compliance with 
            <a href="http://www.courts.wa.gov/court_rules/?fa=court_rules.display&group=ga&set=RPC&ruleid=garpc1.15a" target="_blank">RPC 1.15A</a> and
            <a href="http://www.courts.wa.gov/court_rules/?fa=court_rules.display&group=ga&set=RPC&ruleid=garpc1.15b" target="_blank">RPC 1.15B</a>.<br /><br />

            Learn more about filing 
            <a href="http://www.wsba.org/Licensing-and-Lawyer-Conduct/Annual-License-Renewal/License-Renewal-FAQs/Trust-Account-Declaration" target="_blank">Trust Account</a> 
            information.
        </div>

        @if (Model.TrustAccountId != null && Model.HandlesTrustAccount)
        {
            <hr />

            <h2>Account Details</h2>

            <div>
                <div class="row">
                    @Html.LabelFor(m => m.PendingTrustAccountNumber.Bank)
                    @Html.TextBoxFor(m => m.PendingTrustAccountNumber.Bank, new { @class = "form-control width-restricted" })
                </div>

                <div class="row">
                    @Html.LabelFor(m => m.PendingTrustAccountNumber.Branch)
                    @Html.TextBoxFor(m => m.PendingTrustAccountNumber.Branch, new { @class = "form-control width-restricted" })
                </div>

                <div class="row">
                    @Html.LabelFor(m => m.PendingTrustAccountNumber.AccountNumber)
                    @Html.TextBoxFor(m => m.PendingTrustAccountNumber.AccountNumber, new { @class = "form-control width-restricted" })
                </div>

                <div class="padded-top">
                    <button class="btn btn-success" name="submit" type="submit" value="Add">Add Account</button>
                </div>
            </div>

            if (Model.TrustAccountNumbers != null && Model.TrustAccountNumbers.Count > 0)
            {
                <hr />

                <table class="full-width standard-table">
                    <thead>
                        <tr>
                            <th>Bank</th>
                            <th>Branch</th>
                            <th>Account Number</th>
                            <td></td>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.TrustAccountNumbers.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(m => m.TrustAccountNumbers[i].TrustAccountNumberId)
                            @Html.HiddenFor(m => m.TrustAccountNumbers[i].Bank)
                            @Html.HiddenFor(m => m.TrustAccountNumbers[i].Branch)
                            @Html.HiddenFor(m => m.TrustAccountNumbers[i].AccountNumber)

                            <td>@Model.TrustAccountNumbers[i].Bank</td>
                            <td>@Model.TrustAccountNumbers[i].Branch</td>
                            <td>@Model.TrustAccountNumbers[i].AccountNumber</td>
                            <td>
                                <button class="non-button" name="submit" type="submit" value="Delete_@Model.TrustAccountNumbers[i].TrustAccountNumberId">
                                    <i class="glyphicon glyphicon-remove delete-icon"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            }
        }
        else
        {
            if (Model.TrustAccountNumbers != null)
            {
                for (int i = 0; i < Model.TrustAccountNumbers.Count; i++)
                {
                    @Html.HiddenFor(m => m.TrustAccountNumbers[i].TrustAccountNumberId)
                    @Html.HiddenFor(m => m.TrustAccountNumbers[i].Bank)
                    @Html.HiddenFor(m => m.TrustAccountNumbers[i].Branch)
                    @Html.HiddenFor(m => m.TrustAccountNumbers[i].AccountNumber)
                }
            }
        }
    </div>

    <hr />

    <div class="row margin-top">
        @Html.CheckBoxFor(m => m.Attested) By (1) <b>checking</b> the box to the left, and (2) <b>clicking</b> the Save button,
        I certify under penalty of perjury under the laws of the state of Washington that the foregoing information is true and correct.
    </div>

    <hr />

    <div class="row">
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary" })
        <button class="btn btn-success" name="submit" type="submit" value="Save">Save</button>
    </div>
}