@model Licensing.Business.ViewModels.DemographicsVM

@{
    ViewBag.Title = "Edit Confidential Demographics";
}

<h2>Confidential Demographics</h2>

@using (Html.BeginForm("Edit", "Demographics", FormMethod.Post))
{
    @Html.HiddenFor(m => m.LicenseId)

    if (Model.HasEnteredDemogracphics)
    {
        <div class="alert alert-info">
            You <b>have already provided</b> responses to the following demographic questions: <b>@Model.DemographicsResponded</b>. For your privacy, we are not displaying your responses.
        </div>

        if (Model.HasUnenteredDemogracphics)
        {
            <div class="alert alert-warning">
                You <b>have not provided</b> responses to the following demographics questions: <b>@Model.DemographicsNotResponded</b>.
            </div>
        }
    }

    <div class="row">
        <div class="col-lg-3 col-sm-6 demographic-column">
            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Gender</div>
                </div>
                <div class="demographics-container-body">
                    @foreach (var option in Model.GenderOptions)
                    {
                        <div>
                            @Html.RadioButtonFor(m => m.SelectedGenderOptionId, option.GenderOptionId) @option.Name
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 demographic-column">
            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Ethnicity</div>
                </div>
                <div class="demographics-container-body">
                    @foreach (var option in Model.EthnicityOptions)
                {
                        <div>
                            @Html.RadioButtonFor(m => m.SelectedEthnicityOptionId, option.EthnicityOptionId) @option.Name
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 demographic-column">
            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Sexual Orientation</div>
                </div>
                <div class="demographics-container-body">
                    @foreach (var option in Model.SexualOrientationOptions)
                {
                        <div>
                            @Html.RadioButtonFor(m => m.SelectedSexualOrientationOptionId, option.SexualOrientationOptionId) @option.Name
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 demographic-column">
            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Disability</div>
                </div>
                <div class="demographics-container-body">
                    @foreach (var option in Model.DisabilityOptions)
                {
                        <div>
                            @Html.RadioButtonFor(m => m.SelectedDisabilityOptionId, option.DisabilityOptionId) @option.Name
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary" })
        <input class="btn btn-success" type="submit" value="Save" />
    </div>
}