@using Licensing.Domain.Enums;

@model Licensing.Business.ViewModels.DashboardContainerVM

<div class="dashboard-container"> @*@(Model.Complete && Model.RequirementType == RequirementType.Required ? "complete-border" : "")*@
    <div class="row dashboard-container-header fake-table"> @*@(Model.Complete && Model.RequirementType == RequirementType.Required ? "complete-background-color" : "")*@
        <div class="dashboard-container-title fake-table-cell">
            @Model.Title

            @if (Model.RequirementType == RequirementType.Required && !Model.Complete)
            {
                <span class="required">*</span>
            }
        </div>
        <div class="fake-table-cell nowrap button-fix">
            @if (Model.EditRoute != null)
            {
                @Html.ActionLink("Edit", Model.EditRoute.Action, Model.EditRoute.Controller, new { id = Model.EditRoute.Id }, new { @class = "btn btn-primary btn-xs" })
            }

            @if (Model.RequirementType == RequirementType.Required && Model.ConfirmRoute != null && !Model.Complete && Model.PartialViewData != null)
            {
                @Html.ActionLink("Confirm", Model.ConfirmRoute.Action, Model.ConfirmRoute.Controller, new { id = Model.ConfirmRoute.Id }, new { @class = "btn btn-success btn-xs" })
            }
        </div>
    </div>
    @if (Model.PartialViewData != null)
    {
        <div class="row">
            @Html.Partial(Model.PartialViewName, @Model.PartialViewData)
        </div>
    }
</div>