@using Licensing.Domain.Enums;

@model Licensing.Web.Models.DashboardContainerVM

<div class="dashboard-container @(Model.Complete ? "complete-border":"")">
    <div class="row dashboard-container-header @(Model.Complete ? "complete-background-color":"")">
        <div class="dashboard-container-title">
            @Model.Title

            @if (Model.RequirementType == RequirementType.Required)
            {
                <span class="required">*</span>
            }
        </div>
        <div class="dashboard-container-label-container">
            <button type="button" class="btn btn-primary btn-xs">Edit</button>

            @if (Model.Confirmable && !Model.Complete && Model.PartialViewData != null)
            {
                <button type="button" class="btn btn-success btn-xs">Confirm</button>
            }
        </div>
    </div>
    @if (Model.PartialViewData != null)
    {
        <div class="row dashboard-container-body">
            @Html.Partial(Model.PartialViewName, @Model.PartialViewData)
        </div>
    }
</div>