@model Licensing.Business.ViewModels.AdminDashboardVM

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Admin Dashboard</h2>

<div class="row">
    <div class="col-lg-3 col-sm-6 dashboard-column">
        <div class="demographic-container margin-top">
            <div class="demographic-container-header fake-table">
                <div class="demographic-container-title">License Types</div>
                <div class="fake-table-cell nowrap button-fix">
                    @Html.ActionLink("New", "Edit", "LicenseType", null, new { @class = "btn btn-primary btn-xs" })
                </div>
            </div>
            <div class="demographics-container-body">
                @foreach (var licenseType in Model.LicenseTypes)
                {
                    <div>
                        @Html.ActionLink(licenseType.Name, "LicenseTypeDashboard", "LicenseType", new { id = licenseType.LicenseTypeId }, null)
                    </div>
                }
            </div>
        </div>

        <div class="demographic-container margin-top">
            <div class="demographic-container-header fake-table">
                <div class="demographic-container-title">License Periods</div>
                <div class="fake-table-cell nowrap button-fix">
                    @Html.ActionLink("New", "Create", "LicensePeriod", null, new { @class = "btn btn-primary btn-xs" })
                </div>
            </div>
            <div class="demographics-container-body">
                @foreach (var licensePeriod in Model.LicensePeriods)
                {
                    <div>
                        @Html.ActionLink(licensePeriod.StartDate.ToShortDateString() + " - " + licensePeriod.EndDate.ToShortDateString(), 
                            "Edit", "LicensePeriod", new { id = licensePeriod.LicensePeriodId }, null)
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 dashboard-column">
        <div class="demographic-container margin-top">
            <div class="demographic-container-header">
                <div class="demographic-container-title">Personify Codes</div>
            </div>
            <div class="demographics-container-body">
                <b><u>License Codes</u></b><br />
                @Html.ActionLink("Financial Responsibility Options", "Edit", "CoveredByOption")<br />
                @Html.ActionLink("Judicial Position Options", "Edit", "JudicialPositionOption")<br />
                @Html.ActionLink("Practice Area Options", "Edit", "PracticeAreaOption")<br />
                @Html.ActionLink("Professional Liability Insurance Options", "Options", "ProfessionalLiabilityInsuranceOption")<br />
                
                <b><u>Contact Type Codes</u></b><br />
                @Html.ActionLink("Address Types", "Edit", "AddressType")<br />
                @Html.ActionLink("Address Countries", "Edit", "AddressCountry")<br />
                @Html.ActionLink("Address State", "Edit", "AddressState")<br />
                @Html.ActionLink("Phone Number Types", "Edit", "PhoneNumberType")<br />
                @Html.ActionLink("Phone Countries", "Edit", "PhoneNumberCountry")<br />

                <b><u>Practice Info Codes</u></b><br />
                @Html.ActionLink("Areas of Practice", "Edit", "AreaOfPracticeOption")<br />
                @Html.ActionLink("Firm Size Options", "Edit", "FirmSizeOption")<br />
                @Html.ActionLink("Language Options", "Edit", "LanguageOption")<br />

                <b><u>Confidential Info Codes</u></b><br />
                @Html.ActionLink("Disability Options", "Edit", "DisabilityOption")<br />
                @Html.ActionLink("Ethnicity Options", "Edit", "EthnicityOption")<br />
                @Html.ActionLink("Gender Options", "Edit", "GenderOption")<br />
                @Html.ActionLink("Sexual Orientation Options", "Edit", "SexualOrientationOption")<br />

                <b><u>Product Codes</u></b><br />
                @Html.ActionLink("Donation Products", "Edit", "DonationProduct")<br />
                @Html.ActionLink("Section Products", "Edit", "SectionProduct")<br />
                @Html.ActionLink("License Products", "Edit", "LicenseProduct")<br />
                @Html.ActionLink("License Product Prices", "Edit", "LicenseProductPrices")<br />
                @Html.ActionLink("Keller Discounts", "Edit", "KellerDiscount")<br />
            </div>
        </div>
    </div>
</div>