@model Licensing.Business.ViewModels.DonationVM

@{
    ViewBag.Title = "Edit Donation";
}

<h2>Donations</h2>

<hr />

@using (Html.BeginForm("Edit", "Donation", FormMethod.Post))
{
    <div class="row">
        @Html.HiddenFor(m => m.LicenseId)

        @for (int i = 0; i < Model.Products.Count; i++)
        {
            <div class="col-xs-12 col-md-6">
                @Html.HiddenFor(m => m.Products[i].DonationProductId)
                @Html.HiddenFor(m => m.Products[i].Name)
                @Html.HiddenFor(m => m.Products[i].Description)

                <div class="license-type-container">
                    <div class="license-type-header">@Model.Products[i].Name</div>
                    
                    <div class="license-type-body">
                        <div>
                            @Html.Raw(Model.Products[i].Description)
                        </div>

                        <hr class="narrow-hr" />
                        
                        <div >
                            <div>
                                <div class="inline">
                                    @Html.RadioButtonFor(m => m.Products[i].Donating, true)
                                    Yes, I would like to contribute this amount
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    @Html.TextBoxFor(m => m.Products[i].Amount, new { @class = "form-control width-restricted" })
                                </div>
                            </div>
                            <div>
                                @Html.RadioButtonFor(m => m.Products[i].Donating, false) No, I do not want to contribute at this time.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <hr />

    <div class="row">
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary" })
        <input class="btn btn-success" type="submit" value="Save" />
    </div>
}