@model Licensing.Domain.Licenses.LicenseType

@{
    ViewBag.Title = "Create License Type";
}

<h2>Create License Type</h2>

@using (Html.BeginForm("Edit", "LicenseType", FormMethod.Post))
{
    <hr />

    @Html.HiddenFor(m => m.LicenseTypeId)
    @Html.HiddenFor(m => m.LicenseTypeRequirementId)
    @Html.HiddenFor(m => m.DefaultDonationAmount)

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control width-restricted" })

    @Html.LabelFor(m => m.AmsMemberType)
    @Html.TextBoxFor(m => m.AmsMemberType, new { @class = "form-control width-restricted" })

    <hr />

    <div class="row">
        @Html.ActionLink("Cancel", "LicenseTypeDashboard", "LicenseType", null, new { @class = "btn btn-primary" })
        <input class="btn btn-success" type="submit" value="Save" />
    </div>
}