@model Licensing.Business.ViewModels.LicenseTypeProductsVM

@{
    ViewBag.Title = "Edit License Type Products";
}

<h2>@Model.Name</h2>

@using (Html.BeginForm("Edit", "LicenseTypeProduct", FormMethod.Post))
{    
    @Html.HiddenFor(m => m.LicenseTypeId)
    @Html.HiddenFor(m => m.Name)

    <hr />

    <div class="row">
        @Html.ActionLink("Return to Dashboard", "Index", "Admin", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cancel", "Index", "Admin", null, new { @class = "btn btn-primary" })
        <input class="btn btn-success" type="submit" value="Save" />
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-6">
            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Primary License Product</div>
                </div>
                <div class="demographics-container-body">
                    <table class="standard-table full-width">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        @if (@Model.PrimaryProduct != null)
                        {
                            @Html.HiddenFor(m => m.PrimaryProduct.LicenseTypeProduct.LicenseTypeProductId)
                            @Html.HiddenFor(m => m.PrimaryProduct.LicenseTypeProduct.LicenseTypeId)
                            @Html.HiddenFor(m => m.PrimaryProduct.LicenseTypeProduct.LicenseProductId)
                            @Html.HiddenFor(m => m.PrimaryProduct.LicenseTypeProduct.Product.LicenseProductId)
                            @Html.HiddenFor(m => m.PrimaryProduct.LicenseTypeProduct.Product.Name)
                            @Html.HiddenFor(m => m.PrimaryProduct.LicenseTypeProduct.Product.AmsCode)
                            @Html.HiddenFor(m => m.PrimaryProduct.LicenseTypeProduct.Product.AmsProductId)

                            <tr>
                                <td>@Model.PrimaryProduct.LicenseTypeProduct.Product.Name</td>
                                <td>@Model.PrimaryProduct.LicenseTypeProduct.Product.AmsCode</td>
                                <td>@Html.CheckBoxFor(m => m.PrimaryProduct.Delete)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Late Fee Product</div>
                </div>
                <div class="demographics-container-body">
                    <div class="padded">
                        Late Fee Percentage: @Html.TextBoxFor(m => m.LateFeePercentage, new { @class = "form-control width-restricted inline" })
                    </div>

                    <table class="standard-table full-width">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        @if (@Model.LateFeeProduct != null)
                        {
                            @Html.HiddenFor(m => m.LateFeeProduct.LicenseTypeProduct.LicenseTypeProductId)
                            @Html.HiddenFor(m => m.LateFeeProduct.LicenseTypeProduct.LicenseTypeId)
                            @Html.HiddenFor(m => m.LateFeeProduct.LicenseTypeProduct.LicenseProductId)
                            @Html.HiddenFor(m => m.LateFeeProduct.LicenseTypeProduct.Product.LicenseProductId)
                            @Html.HiddenFor(m => m.LateFeeProduct.LicenseTypeProduct.Product.Name)
                            @Html.HiddenFor(m => m.LateFeeProduct.LicenseTypeProduct.Product.AmsCode)
                            @Html.HiddenFor(m => m.LateFeeProduct.LicenseTypeProduct.Product.AmsProductId)

                            <tr>
                                <td>@Model.LateFeeProduct.LicenseTypeProduct.Product.Name</td>
                                <td>@Model.LateFeeProduct.LicenseTypeProduct.Product.AmsCode</td>
                                <td>@Html.CheckBoxFor(m => m.LateFeeProduct.Delete)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Other License Products</div>
                </div>
                <div class="demographics-container-body">
                    <table class="standard-table full-width">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        @if (@Model.OtherProducts != null)
                        {
                            for (int i = 0; i < Model.OtherProducts.Count; i++)
                            {
                                @Html.HiddenFor(m => m.OtherProducts[i].LicenseTypeProduct.LicenseTypeProductId)
                                @Html.HiddenFor(m => m.OtherProducts[i].LicenseTypeProduct.LicenseTypeId)
                                @Html.HiddenFor(m => m.OtherProducts[i].LicenseTypeProduct.LicenseProductId)
                                @Html.HiddenFor(m => m.OtherProducts[i].LicenseTypeProduct.Product.LicenseProductId)
                                @Html.HiddenFor(m => m.OtherProducts[i].LicenseTypeProduct.Product.Name)
                                @Html.HiddenFor(m => m.OtherProducts[i].LicenseTypeProduct.Product.AmsCode)
                                @Html.HiddenFor(m => m.OtherProducts[i].LicenseTypeProduct.Product.AmsProductId)

                                <tr>
                                    <td>@Model.OtherProducts[i].LicenseTypeProduct.Product.Name</td>
                                    <td>@Model.OtherProducts[i].LicenseTypeProduct.Product.AmsCode</td>
                                    <td>@Html.CheckBoxFor(m => m.OtherProducts[i].Delete)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="demographic-container">
                <div class="demographic-container-header">
                    <div class="demographic-container-title">Excluded License Products</div>
                </div>
                <div class="demographics-container-body">
                    <table class="standard-table full-width">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Primary</th>
                                <th>Other</th>
                                <th>Late Fee</th>
                            </tr>
                        </thead>

                        @if (@Model.ExcludedProducts != null)
                        {
                            for (int i = 0; i < Model.ExcludedProducts.Count; i++)
                            {
                                @Html.HiddenFor(m => m.ExcludedProducts[i].LicenseTypeProduct.LicenseTypeProductId)
                                @Html.HiddenFor(m => m.ExcludedProducts[i].LicenseTypeProduct.LicenseTypeId)
                                @Html.HiddenFor(m => m.ExcludedProducts[i].LicenseTypeProduct.LicenseProductId)
                                @Html.HiddenFor(m => m.ExcludedProducts[i].LicenseTypeProduct.Product.LicenseProductId)
                                @Html.HiddenFor(m => m.ExcludedProducts[i].LicenseTypeProduct.Product.Name)
                                @Html.HiddenFor(m => m.ExcludedProducts[i].LicenseTypeProduct.Product.AmsCode)
                                @Html.HiddenFor(m => m.ExcludedProducts[i].LicenseTypeProduct.Product.AmsProductId)

                                <tr>
                                    <td>@Model.ExcludedProducts[i].LicenseTypeProduct.Product.Name</td>
                                    <td>@Model.ExcludedProducts[i].LicenseTypeProduct.Product.AmsCode</td>
                                    <td>@Html.CheckBoxFor(m => m.ExcludedProducts[i].Primary)</td>
                                    <td>@Html.CheckBoxFor(m => m.ExcludedProducts[i].Other)</td>
                                    <td>@Html.CheckBoxFor(m => m.ExcludedProducts[i].LateFee)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}