@using Licensing.Domain.Enums
@using Licensing.Business.Enums

@model Licensing.Business.ViewModels.DashboardVM

@{
    ViewBag.Title = "Licensing Home";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="status-container">
    @Model.Year Licensing Status: 
    @if (Model.LicensingStatus == LicensingStatus.Complete)
    {
        <span class="status green">Complete</span>
    }
    else
    {
        <span class="status red">Incomplete</span>
    }
</div>

@if (Model.LicensingStatus != LicensingStatus.Complete)
{
    <div>
        <a href="#">Why aren't I complete?</a>
    </div>
}
<div class="required">[ * required ]</div>

<hr />

<div class="row">
    <div class="col-lg-3 col-sm-6 dashboard-column">
        <span class="dashboard-column-title">License Information</span>
        @if (Model.MembershipType.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.MembershipType) }
        @if (Model.JudicialPosition.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.JudicialPosition) }
        @if (Model.PracticeAreas.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.PracticeAreas) }
        @if (Model.TrustAccount.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.TrustAccount) }
        @if (Model.ProfessionalLiabilityInsurance.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.ProfessionalLiabilityInsurance) }
        @if (Model.FinancialResponsibility.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.FinancialResponsibility) }
        @if (Model.ProBono.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.ProBono) }
        @if (Model.MCLE.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.MCLE) }
    </div>
    <div class="col-lg-3 col-sm-6 dashboard-column">
        <span class="dashboard-column-title">Contact Information</span>
        @if (Model.PrimaryAddress.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.PrimaryAddress) }
        @if (Model.HomeAddress.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.HomeAddress) }
        @if (Model.AgentOfServiceAddress.RequirementType != RequirementType.Excluded && Model.AgentOfServiceAddressRequired) { @Html.Partial("_DashboardContainer", @Model.AgentOfServiceAddress) }
        @if (Model.Emails.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.Emails) }
        @if (Model.PhoneNumbers.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.PhoneNumbers) }
    </div>
    <div class="col-lg-3 col-sm-6 dashboard-column">
        <span class="dashboard-column-title">Confidential Information</span>
        @if (Model.Demographics.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.Demographics) }

        <div class="demographics-section">
            <span class="dashboard-column-title">Practice Information</span>
            @if (Model.FirmSize.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.FirmSize) }
            @if (Model.Languages.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.Languages) }
            @if (Model.AreasOfPractice.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.AreasOfPractice) }
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 dashboard-column">
        <span class="dashboard-column-title">Payment</span>

        @if (Model.BulkPayment == null)
        {
            @Html.Partial("_DashboardContainer", @Model.MembershipProducts)

            if (Model.Sections.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.Sections) }
            if (Model.Donations.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.Donations) }
            if (Model.BarNews.RequirementType != RequirementType.Excluded) { @Html.Partial("_DashboardContainer", @Model.BarNews) }

            <div class="dashboard-container @(Model.BalanceDue == 0 ? "complete-border" : "")">
                <div class="row dashboard-container-header fake-table @(Model.BalanceDue == 0 ? "complete-background-color" : "")">
                    <div class="dashboard-container-title fake-table-cell">
                        Balance Due
                    </div>
                    <div class="vertical-center fake-table-cell @(Model.BalanceDue == 0 ? "bold":"")">
                        $@Model.BalanceDue
                    </div>
                </div>
            </div>

            <div class="row margin-top">
                <table class="full-width">
                    <tr>
                        <td class="half-width">
                            @Html.ActionLink("Save", "Save", "Home", new { Id = Model.LicenseId }, new { @class = "btn btn-primary full-width" })
                        </td>
                        <td class="half-width">
                            @if (Model.BalanceDue > 0)
                            {
                                @Html.ActionLink("Pay Now!", "Checkout", "Payment", new { Id = Model.LicenseId }, new { @class = "btn btn-success full-width" })
                            }
                            else
                            {
                                @Html.ActionLink("View Receipt", "Receipt", "Payment", new { Id = Model.LicenseId }, new { @class = "btn btn-default full-width" })
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            @Html.Partial("_DashboardContainer", @Model.BulkPayment)
        }
    </div>
</div>